body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
	padding: 1em 5em;
}

.wrapper-playlist {
	padding: 1em 0 0;
}

h1 {
  font-size: 61px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  margin-top: 30px;
  margin-bottom: 15px;
}

h1 small {
  font-size: 65%;
  font-weight: normal;
  line-height: 1;
  color: #e7e9ec;
}

p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}

